*{
  overflow: hidden;
  user-select: none;
}
.controlBox {
  width: 320px;
  height: 500px;
  position: relative;
  box-shadow: 5px 0px 5px rgba(0,0,0,0.6);
  border-radius: 0 10px 10px 0;
  background-color: white;
  z-index: 9999;
  transition: 1s;
}

.openClose {
  right: 7px;
  top: 44%;
  font-size: 28px;
  position: absolute;
  cursor: pointer;
  transition: 1s;
}

.fullGroup {
  display: block;
}


@media screen and (min-width: 1024px) {
  .controlBox {
    width: 320px;
    height: 500px;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .controlBox {
    width: 320px;
    height: 500px;
    margin-top: 90px;
  }
}
@media screen and (min-width: 1366px) {
  .controlBox {
    width: 320px;
    height: 500px;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1600px) {
  .controlBox {
    width: 320px;
    height: 500px;
    margin-top: 140px;
  }
}
@media screen and (min-width: 1920px) {
  .controlBox {
    width: 400px;
    height: 600px;
    margin-top: 190px;
  }
}


.inputGroup {
  width: 87%;
  padding-top: 10px;
  padding-left: 20px;
}

.controlHeader {
  padding-top: 10px;
  padding-left: 20px;
}
.controlHeader b {
  font-size: 18px;
}

.objRotation {
  left: 0px;
  padding-top: 15px;
  
}
.objRotation p{
position: absolute;
top: -2px;
font-size: 12px;
z-index: 3;
}

.objGradient {
  left: 0px;
  padding-top: 15px;
  margin-left: 24px;
}

.objGradient p{
  position: absolute;
  top: -2px;
  font-size: 12px;
  z-index: 3;
  }

  .objShadowed {
    left: 0px;
    padding-top: 15px;
    margin-top: 15px;
  }
  
  .objShadowed p{
    position: absolute;
    top: -2px;
    font-size: 12px;
    z-index: 3;
    }